@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.banner-container {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	min-height: 100vh;
	width: 100%;

	.banner-content {
		font-family: "Instrument Sans";
		gap: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		.banner-text-header {
			font-family: "Instrument Sans";
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			color: #f2b538;
			font-size: 4rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;

			span {
				text-align: left;
			}
		}

		.banner-text-content {
			text-align: left;
			color: #fff;
			-webkit-text-stroke-width: 1;
			-webkit-text-stroke-color: #000;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.banner-button {
			font-family: "Inria Sans";
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			border-radius: 6px;
			padding: 1rem 2rem;
			border: 1px solid #000;
			background: #f2b538;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			color: #1f1f30;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-size: 2rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.banner-container {
		min-height: 90vh;

		.banner-content {
			.banner-text-header {
				font-size: 3.5rem;
			}

			.banner-text-content {
				font-size: 1.3rem;
			}

			.banner-button {
				font-size: 1.8rem;
				padding: 1rem 2rem;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.banner-container {
		min-height: 80vh;

		.banner-content {
			.banner-text-header {
				font-size: 3rem;
			}

			.banner-text-content {
				font-size: 1.2rem;
			}

			.banner-button {
				font-size: 1.5rem;
				padding: 0.8rem 1.5rem;
			}
		}
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.banner-container {
		min-height: 60vh;

		.banner-content {
			.banner-text-header {
				font-size: 2.5rem;
			}

			.banner-text-content {
				font-size: 1.2rem;
			}

			.banner-button {
				font-size: 1rem;
				padding: 0.8rem 1.5rem;
			}
		}
	}
}

@media (max-width: 576px) {
	.banner-container {
		padding: 0 1rem;
		padding-top: 1rem;
		min-height: 40vh;

		.banner-content {
			gap: 0.7rem;
			.banner-text-header {
				font-size: 1.7rem;
			}

			.banner-text-content {
				font-size: 0.8rem;
			}

			.banner-button {
				font-size: 1rem;
				padding: 0.3rem 0.7rem;
			}
		}
	}
}
