@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.banner-container {
	background: url("../assets/OpenNezt_Background.png") !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	width: 100%;
	position: relative;
	padding: 18rem 10rem;
	flex-shrink: 0;

	.banner-content {
		// font-family: "Instrument Sans";
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 3rem;

		.banner-text-header {
			width: 100%;
			// font-family: "Instrument Sans";
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			color: var(--color-orange-58, #f2b538);
			// font-family: Tahoma;
			font-size: 5.8125rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;

			span {
				text-align: left;
			}

			.text-content-child {
				flex-wrap: wrap;
				gap: 1.5rem;
			}
		}

		.banner-text-content {
			text-align: left;
			color: #fff;
			-webkit-text-strokewidth: 1;
			-webkit-text-stroke-color: #000;
			// font-family: Tahoma;
			font-size: 3.125rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.banner-button {
			display: flex;
			justify-content: center;
			align-items: center;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			color: var(--color-blue-15, #1f1f30);
			// font-family: Tahoma;
			font-size: 2.3125rem;

			font-style: normal;
			font-weight: 700;
			line-height: normal;
			width: 19.41669rem;
			height: 6.33331rem;
			flex-shrink: 0;
			border-radius: 0.95725rem;
			border: 1.392px solid #000;
			background: var(--color-orange-58, #f2b538);
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		}
	}

	.page-1 {
		z-index: 999;
		position: absolute;
		bottom: 0;
		width: 5.33331rem;
		height: 5.33331rem;
		fill: #0f1b33;
		stroke: #245d90;
		color: #245d90;
		text-align: center;
		// font-family: Inter;
		font-size: 2.39269rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		right: 50%;
		transform: translateX(50%);
		bottom: -2.7rem;

		text {
			fill: #245d90;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media (min-width: 1200px) and (max-width: 1920px) {
	.banner-container {
		padding: 12rem 6rem;

		.banner-content {
			gap: 2rem;
			.banner-text-header {
				font-size: 4.375rem;

				.text-content-child {
					flex-wrap: wrap;
					gap: 1.2rem;
				}
			}

			.banner-text-content {
				font-size: 2.375rem;
			}

			.banner-button {
				font-size: 1.75rem;
				width: 14.5625rem;
				height: 4.75rem;
			}
		}

		.page-1 {
			font-size: 1.7945rem;
			width: 4rem;
			height: 4rem;
			bottom: -2rem;
		}
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.banner-container {
		padding: 15rem 3rem 15rem 3rem;

		.banner-content {
			gap: 2rem;
			.banner-text-header {
				font-size: 4.571rem;

				.text-content-child {
					flex-direction: column;
					gap: 0;
				}
			}

			.banner-text-content {
				font-size: 2.39856rem;
			}

			.banner-button {
				font-size: 2.13394rem;
				width: 21.63331rem;
				height: 6.20219rem;
				border-radius: 0.75994rem;
			}
		}

		.page-1 {
			font-size: 3.52919rem;
			width: 7.27319rem;
			height: 7.1845rem;
			bottom: -3.5rem;
		}
	}
}

@media (max-width: 768px) {
	.banner-container {
		padding: 7rem 1rem;

		.banner-content {
			gap: 1rem;

			.banner-text-header {
				font-size: 2.1875rem;

				.text-content-child {
					flex-direction: column;
					gap: 0;
				}
			}

			.banner-text-content {
				font-size: 1.25rem;
			}

			.banner-button {
				font-size: 1.08506rem;
				width: 12.375rem;
				height: 3.125rem;
				border-radius: 8px;
			}
		}

		.page-1 {
			font-size: 1.7945rem;
			width: 3.69825rem;
			height: 3.65313rem;
			bottom: -2rem;
		}
	}
}
