.evaluation-container {
	position: relative;
	width: 100%;
	background: #050716;
	padding-top: 20rem;
	padding-bottom: 25rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	.evaluation-text-name {
		align-self: stretch;
		color: #2a50a8;
		text-align: center;
		font-family: Tahoma;
		font-size: 2.4925rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1rem;
	}

	.evaluation-text-header {
		align-self: stretch;
		color: #fff;
		font-family: Tahoma;
		font-size: 3.808rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1.5rem;
	}

	.evaluation-line {
		width: 13.25rem;
		height: 1rem;
		flex-shrink: 0;
		color: #2a50a8;
	}

	.evaluation-text-content {
		margin-top: 1.5rem;
		margin-bottom: 8rem;
		width: 86.5rem;
		flex-shrink: 0;
		color: #fff;
		text-align: center;
		font-family: Tahoma;
		font-size: 1.77206rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.evaluation-content {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem 15rem;
		width: calc(15rem + (34.5rem * 2));

		.evaluation-box {
			border: var(--stroke-weight-1, 2px) solid #2a50a8;
			box-shadow: 0px 0px 8px 5px #151e49;
			position: relative;
			width: 34.5rem;
			height: 18.33331rem;
			border-radius: 0.73331rem;
			background: #d9d9d9;
			background: transparent;
			padding-top: 2rem;
			padding-left: 2.5rem;
			text-align: left;
			overflow: hidden;

			.evaluation-box-header {
				color: #2a50a8;
				text-align: center;
				font-family: Tahoma;
				font-size: 2.08794rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				display: flex;
				justify-content: flex-start;
				margin-bottom: 1rem;
			}

			.evaluation-box-content {
				width: 23rem;
				color: #a1a0ab;
				font-family: Tahoma;
				font-size: 1.622rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.subtract {
				z-index: 1;
				position: absolute;
				right: -2rem;
				bottom: -3.5rem;
				display: flex;
				flex-wrap: wrap;
				width: calc(2rem + (4.40625rem * 2));
				gap: 1rem 2rem;
				.subtract-rectangle {
					width: 4.40625rem;
					height: 5.71875rem;
					flex-shrink: 0;
					border: var(--stroke-weight-1, 3px) solid #2a50a8;
					border-radius: 4px;
				}
			}

			.evaluation-box-circle {
				border: var(--stroke-weight-1, 1px) solid #2a50a8;
				background-color: #02050c;
				position: absolute;
				right: -3rem;
				bottom: -2.5rem;
				z-index: 2;
				border-radius: 50%;
				width: 10.40625rem;
				height: 9.9375rem;
				fill: #d9d9d9;
			}

			.evaluation-box-icon {
				width: 3rem;
				height: 3rem;
				position: absolute;
				right: 1.5rem;
				bottom: 1.5rem;
				z-index: 3;
				flex-shrink: 0;
			}
		}
	}

	.page-2 {
		z-index: 999;
		position: absolute;
		bottom: 0;
		width: 7.97144rem;
		height: 7.87425rem;
		fill: #0f1b33;
		stroke: #227588;
		color: #227588;
		text-align: center;
		font-family: Inter;
		font-size: 3rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		right: 50%;
		transform: translateX(50%);
		bottom: 4.5rem;

		text {
			fill: #227588;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media (min-width: 1920px) and (max-width: 2559px) {
	.evaluation-container {
		padding-top: 15rem;
		padding-bottom: 20rem;

		.evaluation-text-name {
			font-size: 1.994rem;
		}

		.evaluation-text-header {
			font-size: 3.04638rem;
		}

		.evaluation-line {
			width: 14.13331rem;
		}

		.evaluation-text-content {
			font-size: 1.41763rem;
			width: 69.2rem;
			height: 1.8rem;
			margin-top: 1.3rem;
			margin-bottom: 6rem;
		}

		.evaluation-content {
			width: calc(12rem + (27.6rem * 2));
			gap: 4rem 12rem;

			.evaluation-box {
				padding-top: 2rem;
				padding-left: 2rem;
				width: 27.6rem;
				height: 14.66669rem;

				.evaluation-box-header {
					font-size: 1.48475rem;
				}

				.evaluation-box-content {
					font-size: 1.15344rem;
					width: 16.86669rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -1.5rem;
					bottom: -2.5rem;
					display: flex;
					flex-wrap: wrap;
					width: calc(2rem + (3.13331rem * 2));
					gap: 1rem 2rem;
					.subtract-rectangle {
						width: 3.13331rem;
						height: 4.06669rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #2a50a8;
						border-radius: 4px;
					}
				}

				.evaluation-box-circle {
					width: 7.4rem;
					height: 7.06669rem;
					right: -1.5rem;
					bottom: -1.5rem;
				}

				.evaluation-box-icon {
					right: 1.5rem;
					bottom: 1.5rem;
					width: 2.13331rem;
					height: 2.13331rem;
				}
			}
		}

		.page-2 {
			font-size: 2.75063rem;

			width: 5.66856rem;
			height: 5.59944rem;
			bottom: 3.7rem;
		}
	}
}

@media (min-width: 1680px) and (max-width: 1920px) {
	.evaluation-container {
		padding-top: 15rem;
		padding-bottom: 15rem;

		.evaluation-text-name {
			font-size: 1.63569rem;
		}

		.evaluation-text-header {
			font-size: 2.499rem;
		}

		.evaluation-line {
			width: 11.59375rem;
		}

		.evaluation-text-content {
			font-size: 1.41763rem;
			width: 69.2rem;
			height: 1.8rem;
			margin-top: 1.3rem;
			margin-bottom: 8rem;
		}

		.evaluation-content {
			width: calc(12rem + (22.64063rem * 2));
			gap: 2rem 12rem;

			.evaluation-box {
				padding-top: 2rem;
				padding-left: 2rem;
				width: 22.64063rem;
				height: 12.03125rem;

				.evaluation-box-header {
					font-size: 1.21794rem;
				}

				.evaluation-box-content {
					font-size: 0.90113rem;
					width: 13.17706rem;
				}

				.subtract {
					right: -2.5rem;
					bottom: -2rem;
					width: calc(1.5rem + (3.13331rem * 2));
					gap: 1rem 1.5rem;
					.subtract-rectangle {
						width: 2.44794rem;
						height: 3.17706rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #2a50a8;
						border-radius: 4px;
					}
				}

				.evaluation-box-circle {
					width: 5.78125rem;
					height: 5.52081rem;
					right: -1.2rem;
					bottom: -1.2rem;
				}

				.evaluation-box-icon {
					right: 1.2rem;
					bottom: 1.2rem;
					width: 1.66669rem;
					height: 1.66669rem;
				}
			}
		}

		.page-2 {
			font-size: 2.14894rem;
			width: 4.42856rem;
			height: 4.37456rem;
			bottom: 4.3rem;
		}
	}
}

@media (min-width: 1440px) and (max-width: 1680px) {
	.evaluation-container {
		padding-top: 15rem;
		padding-bottom: 15rem;

		.evaluation-text-name {
			font-size: 1.402rem;
		}

		.evaluation-text-header {
			font-size: 2.142rem;
		}

		.evaluation-line {
			width: 9.9375rem;
		}

		.evaluation-text-content {
			font-size: 0.99681rem;
			width: 48.65625rem;
			height: 1.26563rem;
			margin-top: 1.3rem;
			margin-bottom: 6rem;
		}

		.evaluation-content {
			width: calc(12rem + (19.40625rem * 2));
			gap: 2rem 12rem;

			.evaluation-box {
				padding-top: 1.5rem;
				padding-left: 1.5rem;
				width: 19.40625rem;
				height: 10.3125rem;

				.evaluation-box-header {
					font-size: 1.04394rem;
				}

				.evaluation-box-content {
					font-size: 0.811rem;
					width: 12.375rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -1rem;
					bottom: -1.8rem;
					display: flex;
					flex-wrap: wrap;
					width: calc(1.5rem + (2.20313rem * 2));
					gap: 1rem 1.5rem;
					.subtract-rectangle {
						width: 2.20313rem;
						height: 2.85938rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #2a50a8;
						border-radius: 4px;
					}
				}

				.evaluation-box-circle {
					width: 5.20313rem;
					height: 4.96875rem;
					right: -1rem;
					bottom: -1rem;
				}

				.evaluation-box-icon {
					right: 1.1rem;
					bottom: 1.1rem;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		.page-2 {
			font-size: 1.934rem;
			width: 3.98569rem;
			height: 3.93713rem;
			bottom: 4.5rem;
		}
	}
}

@media (min-width: 1280px) and (max-width: 1440px) {
	.evaluation-container {
		padding-top: 15rem;
		padding-bottom: 15rem;

		.evaluation-text-name {
			font-size: 1.32413rem;
			margin-bottom: 1rem;
		}

		.evaluation-text-header {
			font-size: 2.023rem;
			margin-bottom: 0.8rem;
		}

		.evaluation-line {
			width: 9.38544rem;
		}

		.evaluation-text-content {
			font-size: 0.94138rem;
			width: 45.95313rem;
			height: 1.19531rem;
			margin-top: 1rem;
			margin-bottom: 5rem;
		}

		.evaluation-content {
			width: calc(12rem + (19.40625rem * 2));
			gap: 2rem 12rem;

			.evaluation-box {
				padding-top: 1rem;
				padding-left: 1rem;
				width: 18.32813rem;
				height: 9.73956rem;

				.evaluation-box-header {
					font-size: 1.04394rem;
				}

				.evaluation-box-content {
					font-size: 0.76594rem;
					width: 11.2005rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -1rem;
					bottom: -1.8rem;
					display: flex;
					flex-wrap: wrap;
					width: calc(1.5rem + (2.20313rem * 2));
					gap: 1rem 1.5rem;
					.subtract-rectangle {
						width: 2.20313rem;
						height: 2.85938rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #2a50a8;
						border-radius: 4px;
					}
				}

				.evaluation-box-circle {
					width: 5.20313rem;
					height: 4.96875rem;
					right: -1rem;
					bottom: -1rem;
				}

				.evaluation-box-icon {
					right: 1.1rem;
					bottom: 1.1rem;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		.page-2 {
			font-size: 1.82656rem;
			width: 3.76431rem;
			height: 3.71838rem;
			bottom: 4.5rem;
		}
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	.evaluation-container {
		padding-top: 8rem;
		padding-bottom: 10rem;

		.evaluation-text-name {
			font-size: 0.997rem;
			margin-bottom: 0.5rem;
		}

		.evaluation-text-header {
			font-size: 1.52319rem;
			margin-bottom: 1rem;
		}

		.evaluation-line {
			width: 7.06669rem;
		}

		.evaluation-text-content {
			font-size: 0.70881rem;
			width: 34.6rem;
			height: 0.9rem;
			margin-top: 1rem;
			margin-bottom: 5rem;
		}

		.evaluation-content {
			width: calc(8rem + (13.8rem * 2));
			gap: 2rem 8rem;

			.evaluation-box {
				padding-top: 0.6rem;
				padding-left: 0.8rem;
				width: 13.8rem;
				height: 7.33331rem;

				.evaluation-box-header {
					font-size: 0.74238rem;
					margin-bottom: 0.7rem;
				}

				.evaluation-box-content {
					font-size: 0.57669rem;
					width: 8rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -1.5rem;
					bottom: -1.5rem;
					display: flex;
					flex-wrap: wrap;
					width: calc(1.3rem + (2.20313rem * 2));
					gap: 0.8rem 1.3rem;
					.subtract-rectangle {
						width: 1.8rem;
						height: 2.4rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #2a50a8;
						border-radius: 4px;
					}
				}

				.evaluation-box-circle {
					width: 4.5rem;
					height: 4.2rem;
					right: -0.8rem;
					bottom: -0.8rem;
				}

				.evaluation-box-icon {
					right: 1.1rem;
					bottom: 1.1rem;
					width: 1.06669rem;
					height: 1.06669rem;
				}
			}
		}

		.page-2 {
			font-size: 1.37531rem;
			width: 2.83431rem;
			height: 2.79975rem;
			bottom: 2.5rem;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.evaluation-container {
		padding-top: 10rem;
		padding-bottom: 15rem;
		height: auto;

		.evaluation-text-name {
			font-size: 2.81994rem;
		}

		.evaluation-text-header {
			font-size: 2.67069rem;
		}

		.evaluation-line {
			width: 14.78881rem;
		}

		.evaluation-text-content {
			font-size: 1.565rem;
			width: 42.18438rem;
			height: 2.06075rem;
			margin-top: 1.3rem;
			margin-bottom: 10rem;
		}

		.evaluation-content {
			width: 41.41006rem;
			gap: 3rem;

			.evaluation-box {
				padding-top: 3rem;
				padding-left: 4rem;
				width: 41.41006rem;
				height: 21.90144rem;

				.evaluation-box-header {
					font-size: 2.21713rem;
				}

				.evaluation-box-content {
					font-size: 1.72238rem;
					width: 25.33488rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -2.5rem;
					bottom: -3rem;
					display: flex;
					flex-wrap: wrap;
					width: calc(3rem + (4.70113rem * 2));
					gap: 2rem 3rem;
					.subtract-rectangle {
						width: 4.70113rem;
						height: 6.07269rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 3px) solid #2a50a8;
						border-radius: 6px;
					}
				}

				.evaluation-box-circle {
					width: 11.10269rem;
					height: 10.5525rem;
					right: -2.5rem;
					bottom: -1.5rem;
				}

				.evaluation-box-icon {
					right: 2rem;
					bottom: 2.5rem;
					width: 3.27294rem;
					height: 3.15169rem;
				}
			}
		}

		.page-2 {
			font-size: 1.934rem;
			width: 3.98569rem;
			height: 3.93713rem;
			bottom: 2rem;
		}
	}
}

@media (max-width: 768px) {
	.evaluation-container {
		padding-top: 5rem;
		padding-bottom: 7rem;
		height: auto;

		.evaluation-text-name {
			font-size: 1.43388rem;
			margin-bottom: 0.5rem;
		}

		.evaluation-text-header {
			font-size: 1.358rem;
			margin-bottom: 0.5rem;
		}

		.evaluation-line {
			width: 7.51975rem;
		}

		.evaluation-text-content {
			font-size: 0.79575rem;
			width: 21.44969rem;
			height: 1.04781rem;
			margin-top: 0.5rem;
			margin-bottom: 5rem;
		}

		.evaluation-content {
			gap: 2rem;
			width: 21.056rem;

			.evaluation-box {
				padding-top: 1.2rem;
				padding-left: 1.3rem;
				width: 21.056rem;
				height: 11.13631rem;

				.evaluation-box-header {
					font-size: 1.12738rem;
				}

				.evaluation-box-content {
					font-size: 0.87581rem;
					width: 12.88213rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -4.3rem;
					bottom: -2rem;
					display: flex;
					flex-wrap: wrap;
					width: calc((4.70113rem * 2));
					gap: 1rem 1.5rem;
					.subtract-rectangle {
						width: 2.39044rem;
						height: 3.08781rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #2a50a8;
						border-radius: 4px;
					}
				}

				.evaluation-box-circle {
					width: 5.64544rem;
					height: 5.36569rem;
					right: -1.3rem;
					bottom: -1rem;
				}

				.evaluation-box-icon {
					right: 1rem;
					bottom: 1.2rem;
					width: 1.66419rem;
					height: 1.60256rem;
				}
			}
		}

		.page-2 {
			font-size: 1.934rem;
			width: 3.98569rem;
			height: 3.93713rem;
			bottom: -0.2rem;
		}
	}
}
