.evaluation-container {
	position: relative;
	width: 100%;
	background: transparent;
	padding-top: 25rem;
	padding-bottom: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #050716;

	.evaluation-text-name {
		z-index: 1;
		align-self: stretch;
		color: #2a50a8;
		text-align: center;
		font-family: Tahoma;
		font-size: 1.86938rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1rem;
	}

	.evaluation-text-header {
		z-index: 1;
		align-self: stretch;
		color: #fff;
		font-family: Tahoma;
		font-size: 2.856rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1.5rem;
	}

	.evaluation-line {
		z-index: 1;
		width: 13.25rem;
		height: 1rem;
		flex-shrink: 0;
		stroke-width: 0.5px;
		stroke: #183367;
	}

	.evaluation-text-content {
		z-index: 1;
		margin-top: 1.5rem;
		margin-bottom: 8rem;
		width: 64.875rem;
		flex-shrink: 0;
		color: #fff;
		text-align: center;
		font-family: Tahoma;
		font-size: 1.32906rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.evaluation-content {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem 15rem;
		width: calc(15rem + (25.875rem * 2));

		.evaluation-box {
			position: relative;
			width: 25.875rem;
			height: 13.75rem;
			border-radius: 0.6875rem;
			border: var(--stroke-weight-1, 1px) solid #2a50a8;
			background: #d9d9d9;
			box-shadow: 0px 0px 8px 5px #151e49;
			background: transparent;
			padding-top: 1.5rem;
			padding-left: 1.5rem;
			text-align: left;
			overflow: hidden;

			.evaluation-box-header {
				color: #2a50a8;
				text-align: center;
				font-family: Tahoma;
				font-size: 1.39194rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				display: flex;
				justify-content: flex-start;
				margin-bottom: 1rem;
			}

			.evaluation-box-content {
				width: 16.5rem;
				color: #a1a0ab;
				font-family: Tahoma;
				font-size: 1.08131rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.subtract {
				z-index: 1;
				position: absolute;
				right: -1.5rem;
				bottom: -2.5rem;
				display: flex;
				flex-wrap: wrap;
				width: 8rem;
				gap: 1rem 2rem;
				.subtract-rectangle {
					width: 2.9375rem;
					height: 3.8125rem;
					flex-shrink: 0;
					border: var(--stroke-weight-1, 2px) solid #2a50a8;
					border-radius: 4px;
				}
			}

			.evaluation-box-circle {
				background-color: #090c1c;
				position: absolute;
				right: -1.5rem;
				bottom: -1.5rem;
				z-index: 2;
				border: var(--stroke-weight-1, 1px) solid #2a50a8;
				border-radius: 50%;
				width: 6.9375rem;
				height: 6.625rem;
				fill: #d9d9d9;
			}

			.evaluation-box-icon {
				width: 2rem;
				height: 2rem;
				position: absolute;
				right: 1.3rem;
				bottom: 1.3rem;
				z-index: 3;
				flex-shrink: 0;
				stroke-width: 2.462px;
			}
		}
	}

	.page-2 {
		z-index: 999;
		position: absolute;
		bottom: 0;
		width: 5.31431rem;
		height: 5.2495rem;
		fill: #0f1b33;
		stroke-width: 3.111px;
		stroke: #227588;
		color: #227588;
		text-align: center;
		font-family: Inter;
		font-size: 2.57869rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		right: 50%;
		transform: translateX(50%);
		bottom: -3rem;

		text {
			fill: #227588;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.evaluation-container {
		padding-top: 15rem;
		padding-bottom: 5rem;

		.evaluation-text-name {
			font-size: 1.402rem;
		}

		.evaluation-text-header {
			font-size: 2.142rem;
		}

		.evaluation-line {
			width: 9.9375rem;
		}

		.evaluation-text-content {
			font-size: 0.99681rem;
			width: 48.65625rem;
			height: 1.26563rem;
			margin-top: 1.3rem;
			margin-bottom: 6rem;
		}

		.evaluation-content {
			width: calc(12rem + (19.40625rem * 2));
			gap: 2rem 12rem;

			.evaluation-box {
				padding-top: 1.5rem;
				padding-left: 1.5rem;
				width: 19.40625rem;
				height: 10.3125rem;

				.evaluation-box-header {
					font-size: 1.04394rem;
				}

				.evaluation-box-content {
					font-size: 0.811rem;
					width: 12.375rem;
				}

				.subtract {
					right: -3rem;
					bottom: -1.8rem;
					gap: 1rem 1.5rem;
					.subtract-rectangle {
						width: 2.20313rem;
						height: 2.85938rem;
					}
				}

				.evaluation-box-circle {
					width: 5.20313rem;
					height: 4.96875rem;
					right: -1rem;
					bottom: -1rem;
				}

				.evaluation-box-icon {
					right: 1.1rem;
					bottom: 1.1rem;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		.page-2 {
			font-size: 1.934rem;
			width: 3.98569rem;
			height: 3.93713rem;
			bottom: 4.5rem;
		}
	}
}
