@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

.learnmore-container {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center calc(50% + 4rem);

	.learnmore-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		user-select: none;
		padding: 3rem;
		gap: 3rem;

		.learnmore-header {
			font-family: "Inria Sans";
			color: #fff;
			text-shadow: -10px 4px 4px rgba(0, 0, 0, 0.25);
			font-size: 3.5rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		

		.learnmore-list {
			font-family: "Inria Sans";
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			gap: 3rem;

			.learnmore-item {
				display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 547px;
  height: 414px;

  .learnmore-icon {
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 485px;
height: 404px;
}
.svg-container{
	position: relative;
}
				.learnmore-in-icon {
					
					position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
					

				}
				.item-text {
					position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #5FA7E7;

font-family: Tahoma;

font-style: normal;

  font-family: "Tahoma-Bold", Helvetica;
  font-size: 33.4px;
  font-weight: 700;
 

  line-height: normal;

  text-align: center;
  
  white-space: nowrap;
				  }
				  .item-des{
					position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  text-align: center;
					color: #c8c5c7;
  font-family: "Inria Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;


  line-height: normal;

  text-align: center;

  width: 487px;
  }
			}
		}

		.button-learn {
			display: flex;
height: 53.333px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
align-self: stretch;
background: #232537;

color: #FFF;
text-align: center;
font-family: Tahoma;
font-size: 26.667px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 120% */
letter-spacing: -0.267px;
		}
	}
}
@media (min-width:1920px) {
	.learnmore-title {
		z-index: 1;
		background-size: contain !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		// min-height: 11vh;
		width: 733.268px;
height: 117.847px;
		// margin-bottom: 2rem;
	}
	.learnmore-header {
		align-self: stretch !important;
		color: #FFF !important;
text-align: center !important;
text-shadow: 0px 3.105px 3.105px rgba(0, 0, 0, 0.25) !important;
font-family: Tahoma !important;
font-size: 66.917px !important;
font-style: normal !important;
font-weight: 700 !important;
line-height: normal !important;
	}
	.learnmore-list {
		 
		gap: 3rem !important;

		.learnmore-item {
			display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 547px;
height: 414px;

.learnmore-icon {

display: flex;
justify-content: center;
align-items: center;
width: 485px;
height: 404px;
}
.svg-container{
position: relative;
}
			.learnmore-in-icon {
				
				position: absolute;
top: 28%;
left: 50%;
transform: translate(-50%, -50%);
				

			}
			.item-text {
				position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

text-align: center;
font-size: 2rem;
font-weight: 700;
line-height: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #5FA7E7;

font-family: Tahoma;

font-style: normal;

font-family: "Tahoma-Bold", Helvetica;
font-size: 33.4px;
font-weight: 700;


line-height: normal;

text-align: center;

white-space: nowrap;
			  }
			  .item-des{
				position: absolute;
top: 75%;
left: 50%;
transform: translate(-50%, -50%);

text-align: center;
				color: #c8c5c7;
font-family: "Inria Sans-Regular", Helvetica;
font-size: 20px;
font-weight: 400;


line-height: normal;

text-align: center;

width: 487px;
}
		}
	}
}
@media (min-width: 1440px) and (max-width: 1920px) {
	.learnmore-title {
		z-index: 1;
		background-size: contain !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		// min-height: 11vh;
		width: 549.951px;
height: 88.385px;
		// margin-bottom: 2rem;
	}
	.learnmore-header {
		align-self: stretch !important;
		color: #FFF !important;
text-align: center !important;
text-shadow: 0px 2.329px 2.329px rgba(0, 0, 0, 0.25) !important;
font-family: Tahoma !important;
font-size: 50px !important;
font-style: normal !important;
font-weight: 700 !important;
line-height: 60px !important; /* 120% */
letter-spacing: -0.5px !important;
	}
}
@media (max-width:390px) {
	.learnmore-title{
		display: none;
	}
	.learnmore-header {
		width: 342px !important;
flex-shrink: 0 !important;
color: #FFF !important;
text-align: center !important;
font-family: Tahoma !important;
font-size: 24px !important;
font-style: normal !important;
font-weight: 700 !important;
line-height: 26.4px !important; /* 110% */
letter-spacing: -0.24px !important;
	}
}

