@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
// inika
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

.matching-container {
	background: #e3e3e3;

	.matching-content {
		gap: 50px;
		padding: 6rem 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.matching-header {
			font-family: "Inria Sans";
			display: flex;
			flex-direction: column;
			color: #1f1f30;
			text-align: center;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-size: 4rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.matching-text-content {
			font-family: Inika;
			color: #323232;
			text-align: center;
			font-family: Inika;
			font-size: 2rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.matching-box-content {
			font-family: "Inria Sans";
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			.matching-box {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				gap: 20px;
				padding: 20px;

				.matching-icon {
					min-width: 50px;
					height: 100px;
					width: 100px;
					background-repeat: no-repeat;
					background-size: contain;
				}
				.matching-title {
					color: #1f1f30;
					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					font-size: 2rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					text-align: left;
				}

				.matching-icon1 {
					color: #f27038;
				}
			}
		}

		.matching-button {
			font-family: "Inria Sans";
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			border-radius: 0.5rem;
			background: #40bcd0;
			color: #1f1f30;
			text-align: center;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-size: 2rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			padding: 20px 50px;
		}
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.matching-container {
		.matching-content {
			padding: 5rem 0;
			gap: 50px;

			.matching-header {
				font-size: 3.5rem;
			}

			.matching-text-content {
				font-size: 1.5rem;
			}

			.matching-box-content {
				.matching-box {
					display: flex;
					justify-content: center;
					gap: 20px;
					padding: 10px;

					.matching-icon {
						width: 100px;
						height: 100px;
					}
					.matching-title {
						font-size: 1.5rem;
					}
				}
			}

			.matching-button {
				font-size: 1.5rem;
				padding: 15px 35px;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.matching-container {
		.matching-content {
			padding: 4rem 0;
			gap: 40px;

			.matching-header {
				font-size: 2.5rem;
			}

			.matching-text-content {
				font-size: 1.2rem;
			}

			.matching-box-content {
				.matching-box {
					gap: 20px;
					padding: 10px;

					.matching-icon {
						width: 80px;
						height: 80px;
					}
					.matching-title {
						font-size: 1.3rem;
					}
				}
			}

			.matching-button {
				font-size: 1.5rem;
				padding: 15px 35px;
			}
		}
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.matching-container {
		.matching-content {
			padding: 3rem 0;
			gap: 30px;

			.matching-header {
				font-size: 2rem;
			}

			.matching-text-content {
				font-size: 1rem;
			}

			.matching-box-content {
				.matching-box {
					gap: 5;
					padding: 10px;

					.matching-icon {
						width: 70px;
						height: 70px;
					}
					.matching-title {
						font-size: 1rem;
					}
				}
			}

			.matching-button {
				font-size: 1.2rem;
				padding: 10px 25px;
			}
		}
	}
}

@media (max-width: 576px) {
	.matching-container {
		padding: 0 1rem;
		.matching-content {
			padding: 2rem 0;
			gap: 20px;

			.matching-header {
				font-size: 1.5rem;
			}

			.matching-text-content {
				font-size: 0.8rem;
			}

			.matching-box-content {
				.matching-box {
					gap: 5;
					padding: 10px;

					.matching-icon {
						width: 50px;
						height: 50px;
					}
					.matching-title {
						font-size: 1rem;
					}
				}
			}

			.matching-button {
				font-size: 1rem;
				padding: 10px 25px;
			}
		}
	}
}
