.matching-container {
	position: relative;
	width: 100%;
	// height: 69rem;
	padding: 5rem 0;
	background: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #090c1c;

	.matching-background-1 {
		z-index: 1;
		position: absolute;
		top: -16.47rem;
		width: 100%;
		height: 16.5rem;
		background: #090c1c;
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
	}

	.matching-background-2 {
		z-index: 1;
		position: absolute;
		bottom: -16.47rem;
		width: 100%;
		height: 16.5rem;
		background: #090c1c;
		clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
	}

	.matching-text-name {
		z-index: 2;
		align-self: stretch;
		color: #227588;
		text-align: center;
		font-family: Tahoma;
		font-size: 1.86938rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1rem;
	}

	.matching-text-header {
		z-index: 2;
		align-self: stretch;
		color: #fff;
		font-family: Tahoma;
		font-size: 2.856rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1.5rem;
	}

	.matching-line {
		z-index: 2;
		width: 13.25rem;
		height: 1rem;
		flex-shrink: 0;
		stroke-width: 0.5px;
		stroke: #2554af;
	}

	.matching-text-content {
		z-index: 2;
		margin-top: 1.5rem;
		margin-bottom: 8rem;
		width: 64.875rem;
		flex-shrink: 0;
		color: #fff;
		text-align: center;
		font-family: Tahoma;
		font-size: 1.32906rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.matching-content {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem 15rem;
		width: calc(15rem + (25.875rem * 2));

		.matching-box {
			z-index: 2;
			position: relative;
			width: 25.875rem;
			height: 13.75rem;
			border-radius: 0.6875rem;
			border: var(--stroke-weight-1, 1px) solid #227588;
			background: #d9d9d9;
			box-shadow: 0px 0px 8px 5px #195664;
			background: transparent;
			padding-top: 1.5rem;
			padding-left: 1.5rem;
			text-align: left;
			overflow: hidden;

			.matching-box-header {
				color: #227588;
				text-align: center;
				font-family: Tahoma;
				font-size: 1.39194rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				display: flex;
				justify-content: flex-start;
				margin-bottom: 1rem;
			}

			.matching-box-content {
				width: 16.5rem;
				color: #a1a0ab;
				font-family: Tahoma;
				font-size: 1.08131rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.subtract {
				z-index: 1;
				position: absolute;
				right: -1.5rem;
				bottom: -2.5rem;
				display: flex;
				flex-wrap: wrap;
				width: 8rem;
				gap: 1rem 2rem;
				.subtract-rectangle {
					width: 2.9375rem;
					height: 3.8125rem;
					flex-shrink: 0;
					border: var(--stroke-weight-1, 2px) solid #227588;
					border-radius: 4px;
				}
			}

			.matching-box-circle {
				background-color: #090c1c;
				position: absolute;
				right: -1.5rem;
				bottom: -1.5rem;
				z-index: 2;
				border: var(--stroke-weight-1, 1px) solid #227588;
				border-radius: 50%;
				width: 6.9375rem;
				height: 6.625rem;
				fill: #d9d9d9;
			}

			.matching-box-icon {
				width: 2rem;
				height: 2rem;
				position: absolute;
				right: 1.3rem;
				bottom: 1.3rem;
				z-index: 3;
				flex-shrink: 0;
				stroke-width: 2.462px;
			}
		}
	}

	.page-3 {
		z-index: 999;
		position: absolute;
		bottom: 0;
		width: 5.31431rem;
		height: 5.2495rem;
		fill: #0f1b33;
		stroke-width: 3.111px;
		stroke: #227588;
		color: #227588;
		text-align: center;
		font-family: Inter;
		font-size: 2.57869rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		right: 50%;
		transform: translateX(50%);
		bottom: -10.7rem;

		text {
			fill: #227588;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.matching-container {
		padding: 2rem 0;
		.matching-background-1 {
			top: -12.9rem;
			height: 13rem;
		}

		.matching-background-2 {
			bottom: -12.9rem;
			height: 13rem;
		}

		.matching-text-name {
			font-size: 1.402rem;
		}

		.matching-text-header {
			font-size: 2.142rem;
		}

		.matching-line {
			width: 9.9375rem;
		}

		.matching-text-content {
			font-size: 0.99681rem;
			width: 48.65625rem;
			height: 1.26563rem;
			margin-top: 1.3rem;
			margin-bottom: 6rem;
		}

		.matching-content {
			width: calc(12rem + (19.40625rem * 2));
			gap: 2rem 12rem;

			.matching-box {
				padding-top: 1.5rem;
				padding-left: 1.5rem;
				width: 19.40625rem;
				height: 10.3125rem;

				.matching-box-header {
					font-size: 1.04394rem;
				}

				.matching-box-content {
					font-size: 0.811rem;
					width: 12.375rem;
				}

				.subtract {
					right: -1rem;
					bottom: -1.8rem;
					width: calc(1.5rem + (2.20313rem * 2));
					gap: 1rem 1.5rem;
					.subtract-rectangle {
						width: 2.20313rem;
						height: 2.85938rem;
					}
				}

				.matching-box-circle {
					width: 5.20313rem;
					height: 4.96875rem;
					right: -1rem;
					bottom: -1rem;
				}

				.matching-box-icon {
					right: 1.1rem;
					bottom: 1.1rem;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		.page-3 {
			font-size: 1.934rem;
			width: 3.98569rem;
			height: 3.93713rem;
			bottom: -8.5rem;
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.matching-container {
		padding-top: 10rem;
		padding-bottom: 8rem;
		height: auto;

		.matching-background-1 {
			top: -8rem;
			height: 8rem;
		}

		.matching-background-2 {
			bottom: -7.9rem;
			height: 8rem;
		}

		.matching-text-name {
			font-size: 2.81994rem;
		}

		.matching-text-header {
			font-size: 2.67069rem;
		}

		.matching-line {
			width: 14.78881rem;
		}

		.matching-text-content {
			font-size: 1.565rem;
			width: 39.39631rem;
			height: 3.75781rem;
			margin-top: 1.3rem;
			margin-bottom: 10rem;
		}

		.matching-content {
			width: 41.41006rem;
			gap: 3rem;

			.matching-box {
				padding-top: 2.5rem;
				padding-left: 2.5rem;
				width: 41.41006rem;
				height: 21.90144rem;

				.matching-box-header {
					font-size: 2.21713rem;
				}

				.matching-box-content {
					font-size: 1.72238rem;
					width: 26.54706rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -2.5rem;
					bottom: -3rem;
					display: flex;
					flex-wrap: wrap;
					width: calc(3rem + (4.70113rem * 2));
					gap: 2rem 3rem;
					.subtract-rectangle {
						width: 4.70113rem;
						height: 6.07269rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #227588;
						border-radius: 6px;
					}
				}

				.matching-box-circle {
					width: 11.10269rem;
					height: 10.5525rem;
					right: -2.5rem;
					bottom: -1.5rem;
				}

				.matching-box-icon {
					right: 2rem;
					bottom: 2.5rem;
					width: 3.27294rem;
					height: 3.15169rem;
				}
			}
		}

		.page-3 {
			font-size: 1.934rem;
			width: 3.98569rem;
			height: 3.93713rem;
			bottom: -5.8rem;
		}
	}
}
