@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.nav-container {
	background-color: #1f1f30 !important;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	padding: 0 50px;

	.navbar-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 0;
		overflow: hidden;
		position: relative;
		transition: height 0.3s ease;

		.navbar-brand {
			margin: 0;
			padding: 0;
			max-width: 29.0625rem;
			width: 29.0625rem;
			height: 4.67075rem;
			flex-shrink: 0;
			background-size: contain !important;
			background-position: left center !important;
			background-color: transparent !important;
			background-repeat: no-repeat !important;
		}

		button {
			display: none;
			background: transparent;
			font-size: 2.5rem;
			color: white;
			border: none !important;
		}

		.nav-menu {
			list-style-type: none;
			margin: auto 0;
			transition: all 0.3s ease;
			display: flex;
			flex-direction: row;
			color: #fff;
			text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
			font-family: "Instrument Sans";
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			align-items: center;
			padding: 20px 0;
			gap: 3rem;

			.get-started {
				width: 13.6875rem;
				height: 4.5625rem;
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--color-blue-15, #1f1f30);
				font-family: "Inria Sans";
				font-size: 1.82763rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				color: #1f1f30;
				border-radius: 0.5rem;
				border: 1px solid #000;
				background: #f2b538;
				text-wrap: nowrap;
			}
		}
	}
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.nav-container {
		padding: 0 30px;

		.navbar-content {
			padding: 0;

			.navbar-brand {
				max-width: 21.79688rem;
				width: 21.79688rem;
				height: 3.50306rem;
			}

			.nav-menu {
				font-size: 1.125rem;
				gap: 3rem;
				font-size: 1.125rem;

				.get-started {
					font-size: 1.37075rem;
					width: 10.26563rem;
					height: 3.42188rem;
				}
			}
		}
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {
	.nav-container {
		padding: 0 30px;

		.navbar-content {
			padding: 0;

			.navbar-brand {
				max-width: 15.5rem;
				width: 15.5rem;
				height: 2.49106rem;
			}

			button {
				font-size: 2.5rem;
			}

			.nav-menu {
				font-size: 0.8rem;
				gap: 2rem;

				.get-started {
					font-size: 0.97475rem;
					width: 7.3rem;
					height: 2.43331rem;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.nav-container {
		padding: 0 30px;

		.navbar-content {
			padding: 1rem 0;
			display: block !important;

			.navbar-brand {
				max-width: 19.175rem;
				width: 19.175rem;
				height: 3.08169rem;
			}

			button {
				font-size: 2.5rem;
				position: absolute;
				display: block;
				color: white;
				background: transparent;
				border: none !important;
				padding: 0;
				font-size: 2.5rem;
				right: 0;
				top: 0.5rem;
			}

			.nav-menu {
				padding: 0;
				font-size: 1.3rem;
				gap: 2rem;
				overflow: hidden;
				height: 0;
				flex-direction: column;
				align-items: flex-start;

				.get-started {
					font-size: 1.3rem;
					width: 10.26563rem;
					height: 3.42188rem;
				}
			}

			.active {
				padding-top: 2rem;
				height: 19rem;
			}
		}
	}
}

@media (max-width: 768px) {
	.nav-container {
		padding: 0 30px;

		.navbar-content {
			padding: 1rem 0;
			display: block !important;

			.navbar-brand {
				max-width: 9.75rem;
				width: 9.75rem;
				height: 1.56694rem;
			}

			button {
				position: absolute;
				display: block;
				color: white;
				background: transparent;
				border: none !important;
				padding: 0;
				font-size: 1.3rem;
				right: 0;
				top: 0.5rem;
			}

			.nav-menu {
				padding: 0;
				font-size: 0.8rem;
				gap: 1.5rem;
				overflow: hidden;
				height: 0;
				flex-direction: column;
				align-items: flex-start;

				.get-started {
					font-size: 0.8rem;
					width: 6rem;
					height: 1.8rem;
					border-radius: 4px;
				}
			}

			.active {
				padding-top: 1.5rem;
				height: 16rem;
			}
		}
	}
}
