@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.navbar {
	background-color: #1f1f30 !important;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	padding: 0 50px;

	.navbar-content {
		user-select: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		color: white;
		height: 7.9375rem;
		padding: 0;

		.navbar-brand {
			margin: 0;
			padding: 0;
			max-width: 29.0625rem;
			width: 29.0625rem;
			height: 4.67075rem;
			flex-shrink: 0;
			width: 100%;
			background-size: contain !important;
			background-position: left center !important;
			background-color: transparent !important;
			background-repeat: no-repeat !important;
		}

		.navbar-button {
			background: transparent;
			font-size: 2.5rem;
			color: white;
			border: none !important;

			&:hover {
				color: #f8f9fa;
			}
		}

		.collapse {
			.navbar-nav {
				color: #fff;
				text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
				font-family: "Instrument Sans";
				font-size: 1.5rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				align-items: center;
				display: flex;
				padding: 20px 0;
				gap: 3rem;

				.nav-item {
					cursor: pointer;
					display: flex;
					font-weight: 700;
					line-height: normal;
					text-wrap: nowrap;
				}

				.get-started {
					width: 13.6875rem;
					height: 4.5625rem;
					display: flex;
					justify-content: center;
					align-items: center;
					color: var(--color-blue-15, #1f1f30);
					font-family: "Inria Sans";
					font-size: 1.82763rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					color: #1f1f30;
					border-radius: 0.5rem;
					border: 1px solid #000;
					background: #f2b538;
					text-wrap: nowrap;
				}
			}
		}
	}
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.nav-menu {
		gap: 2rem;
	}

	.navbar-nav {
		gap: 2rem;
	}

	.nav-item {
		font-size: 1.3rem;
		font-weight: 700;
	}

	// .get-started {
	// 	font-size: 1.3rem;
	// 	color: #1f1f30;
	// 	font-style: normal;
	// 	font-weight: 700;
	// 	line-height: normal;

	// 	border-radius: 0.5rem;
	// 	border: 1px solid #000;
	// 	background: #f2b538;

	// 	padding: 0.4em 1rem;
	// 	text-wrap: nowrap;
	// }
}

@media (min-width: 992px) and (max-width: 1200px) {
	.navbar {
		.navbar-content {
			.navbar-brand {
				max-width: 230px;
				min-height: 9vh;
				width: 100%;
			}

			.navbar-button {
				font-size: 2rem;
			}
		}
	}

	.nav-menu {
		gap: 2rem;
	}

	.navbar-nav {
		gap: 2rem;
	}

	.nav-item {
		font-size: 1.1rem;
		font-weight: 700;
	}

	.get-started {
		font-size: 1.1rem;
		color: #1f1f30;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		border-radius: 0.5rem;
		border: 1px solid #000;
		background: #f2b538;

		padding: 0.3em 1rem;
		text-wrap: nowrap;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.navbar {
		.navbar-content {
			.navbar-brand {
				max-width: 200px;
				min-height: 8vh;
				width: 100%;
			}

			.navbar-button {
				font-size: 2rem;
			}
		}
	}

	.navbar-nav {
		align-items: flex-start;
		gap: 30px;
	}

	.nav-item {
		font-size: 1.3rem;
	}

	.get-started {
		font-size: 1.3rem;
		color: #1f1f30;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		border-radius: 0.5rem;
		border: 1px solid #000;
		background: #f2b538;

		padding: 0.3em 1rem;
		text-wrap: nowrap;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.navbar {
		.navbar-content {
			.navbar-brand {
				max-width: 150px;
				min-height: 5vh;
			}

			.navbar-button {
				font-size: 1.5rem;
			}
		}
	}

	.navbar-nav {
		align-items: flex-start;
		gap: 20px;
	}

	.nav-item {
		font-size: 1.2rem;
	}

	.get-started {
		font-size: 1.2rem;
		color: #1f1f30;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		border-radius: 0.5rem;
		border: 1px solid #000;
		background: #f2b538;

		padding: 0.3em 0.8rem;
		text-wrap: nowrap;
	}
}

@media (max-width: 576px) {
	.navbar {
		padding: 0.5rem 1rem;
		.navbar-content {
			.navbar-brand {
				max-width: 150px;
				min-height: 5vh;
			}

			.navbar-button {
				font-size: 1.5rem;
			}
		}
	}

	.navbar-nav {
		align-items: flex-start;
		gap: 20px;
	}

	.nav-item {
		font-size: 1rem;
	}

	.get-started {
		font-size: 1rem;
		color: #1f1f30;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		border-radius: 0.5rem;
		border: 1px solid #000;
		background: #f2b538;

		padding: 0.3em 0.8rem;
		text-wrap: nowrap;
	}
}
