.on-boarding-container {
	position: relative;
	width: 100%;
	height: 81.3125rem;
	background: linear-gradient(180deg, #00082d 0%, #02050c 49.16%);
	padding: 10rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	.on-boarding-text-name {
		align-self: stretch;
		color: #306ee8;
		text-align: center;
		font-family: Tahoma;
		font-size: 1.86938rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1rem;
	}

	.on-boarding-text-header {
		align-self: stretch;
		color: #fff;
		font-family: Tahoma;
		font-size: 2.856rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1.5rem;
	}

	.on-boarding-line {
		width: 13.25rem;
		height: 1rem;
		flex-shrink: 0;
		stroke-width: 0.5px;
		stroke: #2554af;
	}

	.on-boarding-text-content {
		margin-top: 1.5rem;
		margin-bottom: 8rem;
		width: 64.875rem;
		flex-shrink: 0;
		color: #fff;
		text-align: center;
		font-family: Tahoma;
		font-size: 1.32906rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.on-boarding-content {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem 15rem;
		width: calc(15rem + (25.875rem * 2));

		.on-boarding-box {
			position: relative;
			width: 25.875rem;
			height: 13.75rem;
			border-radius: 0.6875rem;
			border: var(--stroke-weight-1, 2px) solid #183367;
			background: #d9d9d9;
			box-shadow: 0px 0px 8px 5px #151e49;
			background: transparent;
			padding-top: 2rem;
			padding-left: 2.5rem;
			text-align: left;
			overflow: hidden;

			.on-boarding-box-header {
				color: #8caef2;
				text-align: center;
				font-family: Tahoma;
				font-size: 1.39194rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				display: flex;
				justify-content: flex-start;
				margin-bottom: 1rem;
			}

			.on-boarding-box-content {
				width: 15.8125rem;
				color: #a1a0ab;
				font-family: Tahoma;
				font-size: 1.08131rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.subtract {
				z-index: 1;
				position: absolute;
				right: -1.5rem;
				bottom: -2.5rem;
				display: flex;
				flex-wrap: wrap;
				width: 8rem;
				gap: 1rem 2rem;
				.subtract-rectangle {
					width: 2.9375rem;
					height: 3.8125rem;
					flex-shrink: 0;
					border: var(--stroke-weight-1, 2px) solid #183367;
					border-radius: 4px;
				}
			}

			.on-boarding-box-circle {
				background-color: #02050c;
				position: absolute;
				right: -1.5rem;
				bottom: -1.5rem;
				z-index: 2;
				border: var(--stroke-weight-1, 1px) solid #183367;
				border-radius: 50%;
				width: 6.9375rem;
				height: 6.625rem;
				fill: #d9d9d9;
			}

			.on-boarding-box-icon {
				width: 2rem;
				height: 2rem;
				position: absolute;
				right: 1.3rem;
				bottom: 1.3rem;
				z-index: 3;
				flex-shrink: 0;
				stroke-width: 2.462px;
			}
		}
	}

	.page-2 {
		z-index: 1000;
		position: absolute;
		bottom: 0;
		width: 5.31431rem;
		height: 5.2495rem;
		fill: #0f1b33;
		stroke-width: 3.111px;
		stroke: #227588;
		color: #227588;
		text-align: center;
		font-family: Inter;
		font-size: 2.57869rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		right: 50%;
		transform: translateX(50%);
		bottom: 5.7rem;

		text {
			fill: #227588;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
