.on-boarding-container {
	position: relative;
	width: 100%;
	background: linear-gradient(180deg, #00082d 0%, #02050c 49.16%);
	padding: 10rem 0;
	padding-bottom: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	.on-boarding-text-name {
		align-self: stretch;
		color: #306ee8;
		text-align: center;
		font-family: Tahoma;
		font-size: 1.86938rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1rem;
	}

	.on-boarding-text-header {
		align-self: stretch;
		color: #fff;
		font-family: Tahoma;
		font-size: 2.856rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1.5rem;
	}

	.on-boarding-line {
		width: 13.25rem;
		height: 1rem;
		flex-shrink: 0;
		strokewidth: 0.5px;
		stroke: #2554af;
	}

	.on-boarding-text-content {
		margin-top: 1.5rem;
		margin-bottom: 8rem;
		width: 64.875rem;
		flex-shrink: 0;
		color: #fff;
		text-align: center;
		font-family: Tahoma;
		font-size: 1.32906rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.on-boarding-content {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem 15rem;
		width: calc(15rem + (25.875rem * 2));

		.on-boarding-box {
			position: relative;
			width: 25.875rem;
			height: 13.75rem;
			border-radius: 0.6875rem;
			border: var(--stroke-weight-1, 2px) solid #183367;
			background: #d9d9d9;
			box-shadow: 0px 0px 8px 5px #151e49;
			background: transparent;
			padding-top: 2rem;
			padding-left: 2.5rem;
			text-align: left;
			overflow: hidden;

			.on-boarding-box-header {
				color: #8caef2;
				text-align: center;
				font-family: Tahoma;
				font-size: 1.39194rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				display: flex;
				justify-content: flex-start;
				margin-bottom: 1rem;
			}

			.on-boarding-box-content {
				width: 15.8125rem;
				color: #a1a0ab;
				font-family: Tahoma;
				font-size: 1.08131rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.subtract {
				z-index: 1;
				position: absolute;
				right: -1.5rem;
				bottom: -2.5rem;
				display: flex;
				flex-wrap: wrap;
				width: 8rem;
				gap: 1rem 2rem;
				.subtract-rectangle {
					width: 2.9375rem;
					height: 3.8125rem;
					flex-shrink: 0;
					border: var(--stroke-weight-1, 2px) solid #183367;
					border-radius: 4px;
				}
			}

			.on-boarding-box-circle {
				background-color: #02050c;
				position: absolute;
				right: -1.5rem;
				bottom: -1.5rem;
				z-index: 2;
				border: var(--stroke-weight-1, 1px) solid #183367;
				border-radius: 50%;
				width: 6.9375rem;
				height: 6.625rem;
				fill: #d9d9d9;
			}

			.on-boarding-box-icon {
				width: 2rem;
				height: 2rem;
				position: absolute;
				right: 1.3rem;
				bottom: 1.3rem;
				z-index: 3;
				flex-shrink: 0;
				strokewidth: 2.462px;
			}
		}
	}

	.page-2 {
		z-index: 999;
		position: absolute;
		bottom: 0;
		width: 5.31431rem;
		height: 5.2495rem;
		fill: #0f1b33;
		strokewidth: 3.111px;
		stroke: #227588;
		color: #227588;
		text-align: center;
		font-family: Inter;
		font-size: 2.57869rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		right: 50%;
		transform: translateX(50%);
		bottom: 5.7rem;

		text {
			fill: #227588;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.on-boarding-container {
		padding-top: 8rem;
		padding-bottom: 2rem;
		height: 60.98438rem;

		.on-boarding-text-name {
			font-size: 1.402rem;
		}

		.on-boarding-text-header {
			font-size: 2.142rem;
		}

		.on-boarding-line {
			width: 9.9375rem;
		}

		.on-boarding-text-content {
			font-size: 0.99681rem;
			width: 48.65625rem;
			height: 1.26563rem;
			margin-top: 1.3rem;
			margin-bottom: 6rem;
		}

		.on-boarding-content {
			width: calc(12rem + (19.40625rem * 2));
			gap: 2rem 12rem;

			.on-boarding-box {
				padding-top: 1.5rem;
				padding-left: 1.5rem;
				width: 19.40625rem;
				height: 10.3125rem;

				.on-boarding-box-header {
					font-size: 1.04394rem;
				}

				.on-boarding-box-content {
					font-size: 0.811rem;
					width: 12.375rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -1rem;
					bottom: -1.8rem;
					display: flex;
					flex-wrap: wrap;
					width: calc(1.5rem + (2.20313rem * 2));
					gap: 1rem 1.5rem;
					.subtract-rectangle {
						width: 2.20313rem;
						height: 2.85938rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #183367;
						border-radius: 4px;
					}
				}

				.on-boarding-box-circle {
					width: 5.20313rem;
					height: 4.96875rem;
					right: -1rem;
					bottom: -1rem;
				}

				.on-boarding-box-icon {
					right: 1.1rem;
					bottom: 1.1rem;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		.page-2 {
			font-size: 1.934rem;
			width: 3.98569rem;
			height: 3.93713rem;
			bottom: 4.5rem;
		}
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {
	.on-boarding-container {
		padding-top: 8rem;
		padding-bottom: 10rem;

		.on-boarding-text-name {
			font-size: 0.997rem;
			margin-bottom: 0.5rem;
		}

		.on-boarding-text-header {
			font-size: 1.52319rem;
			margin-bottom: 1rem;
		}

		.on-boarding-line {
			width: 7.06669rem;
		}

		.on-boarding-text-content {
			font-size: 0.70881rem;
			width: 34.6rem;
			height: 0.9rem;
			margin-top: 1rem;
			margin-bottom: 5rem;
		}

		.on-boarding-content {
			width: calc(8rem + (13.8rem * 2));
			gap: 2rem 8rem;

			.on-boarding-box {
				padding-top: 1.2rem;
				padding-left: 1.2rem;
				width: 13.8rem;
				height: 7.33331rem;

				.on-boarding-box-header {
					font-size: 0.74238rem;
					margin-bottom: 0.7rem;
				}

				.on-boarding-box-content {
					font-size: 0.57669rem;
					width: 8rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -1.5rem;
					bottom: -1.5rem;
					display: flex;
					flex-wrap: wrap;
					width: calc(1.3rem + (2.20313rem * 2));
					gap: 0.8rem 1.3rem;
					.subtract-rectangle {
						width: 1.8rem;
						height: 2.4rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #183367;
						border-radius: 4px;
					}
				}

				.on-boarding-box-circle {
					width: 4.5rem;
					height: 4.2rem;
					right: -0.8rem;
					bottom: -0.8rem;
				}

				.on-boarding-box-icon {
					right: 1.1rem;
					bottom: 1.1rem;
					width: 1.06669rem;
					height: 1.06669rem;
				}
			}
		}

		.page-2 {
			font-size: 1.37531rem;
			width: 2.83431rem;
			height: 2.79975rem;
			bottom: 2.5rem;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.on-boarding-container {
		padding-top: 10rem;
		padding-bottom: 15rem;
		height: auto;

		.on-boarding-text-name {
			font-size: 2.81994rem;
		}

		.on-boarding-text-header {
			font-size: 2.67069rem;
		}

		.on-boarding-line {
			width: 14.78881rem;
		}

		.on-boarding-text-content {
			font-size: 1.565rem;
			width: 42.18438rem;
			height: 2.06075rem;
			margin-top: 1.3rem;
			margin-bottom: 10rem;
		}

		.on-boarding-content {
			width: 41.41006rem;
			gap: 3rem;

			.on-boarding-box {
				padding-top: 3rem;
				padding-left: 4rem;
				width: 41.41006rem;
				height: 21.90144rem;

				.on-boarding-box-header {
					font-size: 2.21713rem;
				}

				.on-boarding-box-content {
					font-size: 1.72238rem;
					width: 25.33488rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -2.5rem;
					bottom: -3rem;
					display: flex;
					flex-wrap: wrap;
					width: calc(3rem + (4.70113rem * 2));
					gap: 2rem 3rem;
					.subtract-rectangle {
						width: 4.70113rem;
						height: 6.07269rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 3px) solid #183367;
						border-radius: 6px;
					}
				}

				.on-boarding-box-circle {
					width: 11.10269rem;
					height: 10.5525rem;
					right: -2.5rem;
					bottom: -1.5rem;
				}

				.on-boarding-box-icon {
					right: 2rem;
					bottom: 2.5rem;
					width: 3.27294rem;
					height: 3.15169rem;
				}
			}
		}

		.page-2 {
			font-size: 1.934rem;
			width: 3.98569rem;
			height: 3.93713rem;
			bottom: 2rem;
		}
	}
}

@media (max-width: 768px) {
	.on-boarding-container {
		padding-top: 5rem;
		padding-bottom: 7rem;
		height: auto;

		.on-boarding-text-name {
			font-size: 1.43388rem;
			margin-bottom: 0.5rem;
		}

		.on-boarding-text-header {
			font-size: 1.358rem;
			margin-bottom: 0.5rem;
		}

		.on-boarding-line {
			width: 7.51975rem;
		}

		.on-boarding-text-content {
			font-size: 0.79575rem;
			width: 21.44969rem;
			height: 1.04781rem;
			margin-top: 0.5rem;
			margin-bottom: 5rem;
		}

		.on-boarding-content {
			gap: 2rem;
			width: 21.056rem;

			.on-boarding-box {
				padding-top: 1.2rem;
				padding-left: 1.3rem;
				width: 21.056rem;
				height: 11.13631rem;

				.on-boarding-box-header {
					font-size: 1.12738rem;
				}

				.on-boarding-box-content {
					font-size: 0.87581rem;
					width: 12.88213rem;
				}

				.subtract {
					z-index: 1;
					position: absolute;
					right: -4.3rem;
					bottom: -2rem;
					display: flex;
					flex-wrap: wrap;
					width: calc((4.70113rem * 2));
					gap: 1rem 1.5rem;
					.subtract-rectangle {
						width: 2.39044rem;
						height: 3.08781rem;
						flex-shrink: 0;
						border: var(--stroke-weight-1, 2px) solid #183367;
						border-radius: 4px;
					}
				}

				.on-boarding-box-circle {
					width: 5.64544rem;
					height: 5.36569rem;
					right: -1.3rem;
					bottom: -1rem;
				}

				.on-boarding-box-icon {
					right: 1rem;
					bottom: 1.2rem;
					width: 1.66419rem;
					height: 1.60256rem;
				}
			}
		}

		.page-2 {
			font-size: 1.934rem;
			width: 3.98569rem;
			height: 3.93713rem;
			bottom: -0.2rem;
		}
	}
}
