@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.fa-chevron-up {
	transform: rotate(-181deg);
	transform: rotate(-181deg);
}

.fa-chevron-down {
	transform: rotate(-90deg);
}
.answer-container {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.5s ease, opacity 0.5s ease;
}

.answer-container.open {
	max-height: 200px;
	opacity: 1;
}

.answer {
	// font-family: "Inria Sans";
	font-size: 1.6rem;
	font-weight: 400;
	text-align: left;
	transition: opacity 0.5s ease;
	opacity: 0;
}

.answer-container.open .answer {
	opacity: 1;
}

.qanda {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 5rem 0;
	.hero_title {
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 2rem;
	}

	.color {
		border-radius: 1.5rem;
		border: 1px solid rgba(0, 0, 0, 0.2);
		background: #fff;
		padding: 1.5rem 2rem;

		.question-header {
			// font-family: "Inria Sans";
			display: flex;
			justify-content: space-between;
			font-size: 2rem;
			text-align: left;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			.big_title {
				margin-top: 1.4rem;
			}
		}

		.answer-line {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
			border-top: 1px solid rgba(0, 0, 0, 0.2);
		}

		.answer {
			// font-family: "Inria Sans";
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 400;
			text-align: left;

			p {
				// font-family: "Inria Sans";
				margin: 0;
			}
		}
	}
}
@media (min-width: 1919px) {
	.hero_title {
		align-self: stretch !important;
		color: #000 !important;
		text-align: center !important;
		// font-family: Tahoma !important;
		font-size: 56px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: normal !important;
	}
	.qanda .color .question-header .big_title {
		flex: 1 0 0;
		color: var(--color-blue-15, #1f1f30);
		// font-family: Tahoma;
		font-size: 30.183px;
		font-style: normal;
		font-weight: 700;
		line-height: 32.927px; /* 109.091% */
		letter-spacing: -0.302px;
	}
	.answer {
		flex: 1 0 0;
		color: var(--color-blue-15, #1f1f30);
		// font-family: Tahoma !important;
		font-size: 30.183px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: 32.927px !important; /* 109.091% */
		letter-spacing: -0.302px !important;
	}
}
@media (min-width: 1439px) and (max-width: 1919px) {
	.hero_title {
		align-self: stretch !important;
		color: #000 !important;
		text-align: center !important;
		// font-family: Tahoma !important;
		font-size: 48px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: normal !important;
	}
	.qanda .color .question-header .big_title {
		flex: 1 0 0;
		color: var(--color-blue-15, #1f1f30);
		// font-family: Tahoma;
		font-size: 22.637px;
		font-style: normal;
		font-weight: 700;
		line-height: 24.695px; /* 109.091% */
		letter-spacing: -0.226px;
	}
	.answer {
		color: var(--color-blue-15, #1f1f30);
		// font-family: Tahoma !important;
		font-size: 22.637px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: 24.695px !important; /* 109.091% */
		letter-spacing: -0.226px !important;
	}
}
@media (min-width: 798px) and (max-width: 1200px) {
	.hero_title {
		width: 650.967px !important;
		align-self: stretch !important;
		color: #000 !important;
		text-align: center !important;
		// font-family: Tahoma !important;
		font-size: 47.2px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: normal !important;
		// width: 331px !important;
		height: 76.7px !important;
		line-height: 51.92px !important; /* 110% */
		letter-spacing: -0.472px !important;
	}
	.qanda .color .question-header .big_title {
		color: var(--color-blue-15, #1f1f30);
		// font-family: Tahoma;
		font-size: 27.533px;
		font-style: normal;
		font-weight: 700;
		line-height: 35.793px; /* 130% */
		letter-spacing: -0.275px;
		margin-top: 0.5rem !important;
	}
	.answer {
		color: var(--color-blue-15, #1f1f30) !important;
		// font-family: Tahoma !important;
		font-size: 27.533px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: 35.793px !important; /* 130% */
		letter-spacing: -0.275px !important;
	}
	.button-up {
		width: 40px;
		height: 40px;
	}
	.button-down {
		width: 40px;
		height: 41px;
	}
	
}
@media (min-width: 391px) and (max-width: 798px) {
	.hero_title {
		align-self: stretch !important;
		color: #000 !important;
		text-align: center !important;
		// font-family: Tahoma !important;
		font-size: 24px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: normal !important;
		// width: 331px !important;
		height: 39px !important;
		line-height: 26.4px !important; /* 110% */
		letter-spacing: -0.24px !important;
	}
	.qanda .color .question-header .big_title {
		flex: 1 0 0;
		color: var(--color-blue-15, #1f1f30);
		// font-family: Tahoma;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 18.2px; /* 109.091% */
		letter-spacing: -0.14px;
	}
	.answer {
		flex: 1 0 0;
		color: var(--color-blue-15, #1f1f30);
		// font-family: Tahoma !important;
		font-size: 14px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: 18.2px !important; /* 109.091% */
		letter-spacing: -0.14px !important;
	}
	.button-up {
		width: 40px;
		height: 40px;
	}
	.button-down {
		width: 40px;
		height: 41px;
	}
	.color{
		padding: 0.5rem 1rem !important;
	}
	.toggle-btn{
		padding: 0.6rem 0rem !important;
	}
}
@media (max-width: 391px) {
	.hero_title {
		align-self: stretch !important;
		color: #000 !important;
		text-align: center !important;
		// font-family: Tahoma !important;
		font-size: 24px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: normal !important;
		width: 331px !important;
		height: 39px !important;
		line-height: 26.4px !important; /* 110% */
		letter-spacing: -0.24px !important;
	}
	.qanda .color .question-header .big_title {
		flex: 1 0 0;
		color: var(--color-blue-15, #1f1f30);
		// font-family: Tahoma;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 18.2px; /* 109.091% */
		letter-spacing: -0.14px;
	}
	.answer {
		flex: 1 0 0;
		color: var(--color-blue-15, #1f1f30);
		// font-family: Tahoma !important;
		font-size: 14px !important;
		font-style: normal !important;
		font-weight: 700 !important;
		line-height: 18.2px !important; /* 109.091% */
		letter-spacing: -0.14px !important;
	}
	.button-up {
		width: 40px;
		height: 40px;
	}
	.button-down {
		width: 40px;
		height: 41px;
	}
	.color{
		padding: 0.5rem 1rem !important;
	}
	.toggle-btn{
		padding: 0.6rem 0rem !important;
	}
}
