@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.team-container {
	background: #171B36;

	.team-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 3rem;
		user-select: none;
		gap: 2rem;

		.team-header {
			position: relative;
			.team-header-text {
				font-family: Inter;
				z-index: 2;
				justify-content: flex-start;
				color: #fff;
				font-size: 7.5rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				position: relative;
				text-align: center;
			}

			.line-color {
				display: flex;
				align-items: center;
				position: absolute;
				bottom: 1rem;
				z-index: 1;

				.line {
					width: 8.5rem;
					height: 2rem;
				}

				.purple {
					background: #ac92eb;
				}

				.blue {
					background: #4fc1e8;
				}

				.green {
					background: #a0d568;
				}

				.yellow {
					background: #ffce54;
				}

				.red {
					background: #ed5564;
				}
			}
		}

		.team-text {
			font-family: Inter;
			font-size: 1.7rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: left;
		}

		.line1 {
			font-family: Inter;
			position: relative;
			padding: 8rem 0;
			.line {
				width: 100%;
				height: 0.2rem;
				background: #000;
			}

			.rectangle {
				width: 25rem;
				height: 4rem;
				border-radius: 3rem;
				border: 0.3rem solid #000;
				background: #000;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				overflow: hidden;

				.rectangle-text {
					width: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					text-align: center;
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}

				.rectangle2 {
					height: 4rem;
					border-radius: 0px 28px 28px 0px;
					background: #fff;
					width: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #000;
					text-align: center;
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}
		}

		.core-team,
		.mentor-team {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: auto !important;
			gap: 5rem;

			.box-member {
				gap: 0.5rem;
				font-family: Inter;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;

				.avt {
					background-size: cover !important;
					background-repeat: no-repeat !important;
					background-position: center !important;
					// width: 18rem;
					// height: 20rem;
					width: 401.382px !important;
					height: 403.975px !important;
					flex-shrink: 0 !important;
					border: #e3e3e3 4px solid;
					border-radius: 200.69px;
				}

				.name {
					width: 20rem;
					color: #ffffff;
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					text-align: left;
					text-wrap: wrap;
				}

				.info {
					width: 20rem;
					color: #ffffff;
					font-size: 0.9rem;
					font-style: normal;
					font-weight: 400;
					text-align: left;
					line-height: normal;
					padding-bottom: 5px;
					text-wrap: wrap;
				}

				.linked {
					width: 1.5rem;
					height: 1.5rem;
					fill:#ffffff;
				}
			}
		}

		.line2 {
			font-family: Inter;
			position: relative;
			padding: 8rem 0;
			.line {
				width: 100%;
				height: 0.2rem;
				background: #000;
			}

			.rectangle {
				width: 25rem;
				height: 4rem;
				border-radius: 3rem;
				border: 0.3rem solid #000;
				background: #000;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				overflow: hidden;

				.rectangle-text {
					width: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					text-align: center;
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}

				.rectangle2 {
					height: 4rem;
					border-radius: 28px 0 0 28px;
					background: #fff;
					width: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #000;
					text-align: center;
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	.team-container {
	  background: #171b36;
  
	  .team-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 3rem;
		user-select: none;
		gap: 2rem;
  
		.team-header {
		  position: relative;
  
		  .team-header-text {
			font-family: Inter;
			z-index: 2;
			justify-content: flex-start;
			color: #fff;
			font-size: 7.5rem;
			font-weight: 700;
			text-align: center;
		  }
  
		  .line-color {
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 1rem;
			z-index: 1;
  
			.line {
			  width: 8.5rem;
			  height: 2rem;
			}
  
			.purple {
			  background: #ac92eb;
			}
  
			.blue {
			  background: #4fc1e8;
			}
  
			.green {
			  background: #a0d568;
			}
  
			.yellow {
			  background: #ffce54;
			}
  
			.red {
			  background: #ed5564;
			}
		  }
		}
  
		.team-text {
		  font-family: Inter;
		  font-size: 1.7rem;
		  font-weight: 400;
		  text-align: left;
		}
  
		.core-team, .mentor-team {
		  display: flex;
		  flex-wrap: wrap;
		  align-items: center;
		  justify-content: center;
		  gap: 5rem;
  
		  .box-member {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			gap: 0.5rem;
  
			.avt {
			  width: 401.382px;
			  height: 403.975px;
			  background-size: cover !important;
			  background-repeat: no-repeat !important;
			  background-position: center !important;
			  border: #e3e3e3 4px solid;
			  border-radius: 200.69px;
			}
  
			.name {
			  width: 20rem;
			  color: #ffffff;
			  font-size: 1.5rem;
			  font-weight: 700;
			  text-align: left;
			  text-wrap: wrap;
			}
  
			.info {
			  width: 20rem;
			  color: #ffffff;
			  font-size: 0.9rem;
			  font-weight: 400;
			  text-align: left;
			  text-wrap: wrap;
			  padding-bottom: 5px;
			}
  
			.linked {
			  width: 1.5rem;
			  height: 1.5rem;
			  fill: #ffffff;
			}
		  }
		}
	  }
	}
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
	.team-container {
	  background: #171b36;
  
	  .team-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 2rem;
		user-select: none;
		gap: 1.5rem;
  
		.team-header {
		  position: relative;
  
		  .team-header-text {
			font-family: Inter;
			z-index: 2;
			justify-content: flex-start;
			color: #fff;
			font-size: 5rem; 
			font-weight: 700;
			text-align: center;
		  }
  
		  .line-color {
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 1rem;
			z-index: 1;
  
			.line {
			  width: 6.5rem; 
			  height: 1.5rem; 
			}
		  }
		}
  
		.team-text {
		  font-family: Inter;
		  font-size: 1.4rem; 
		  font-weight: 400;
		  text-align: left;
		}
  
		.core-team, .mentor-team {
		  display: flex;
		  flex-wrap: wrap;
		  align-items: center;
		  justify-content: center;
		  gap: 3rem;
  
		  .box-member {
			.avt {
			  width: 350px;
			  height: 350px;
			}
  
			.name {
			  font-size: 1.3rem;
			}
  
			.info {
			  font-size: 0.8rem;
			}
		  }
		}
	  }
	}
  }
  
  @media screen and (max-width: 768px) {
	.team-container {
	  background: #171b36;
  
	  .team-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 1rem;
		user-select: none;
		gap: 1rem;
  
		.team-header {
		  position: relative;
  
		  .team-header-text {
			font-family: Inter;
			z-index: 2;
			justify-content: flex-start;
			color: #fff;
			font-size: 3.5rem; 
			font-weight: 700;
			text-align: center;
		  }
  
		  .line-color {
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 1rem;
			z-index: 1;
  
			.line {
			  width: 5rem; 
			  height: 1rem; 
			}
		  }
		}
  
		.team-text {
		  font-family: Inter;
		  font-size: 1.2rem; 
		  font-weight: 400;
		  text-align: left;
		}
  
		.core-team, .mentor-team {
		  display: flex;
		  flex-direction: column; 
		  align-items: center;
		  gap: 2rem;
  
		  .box-member {
			.avt {
			  width: 280px; 
			  height: 280px;
			  

			}
  
			.name {
			  font-size: 2.2rem;
			  text-align: center; 
			}
  
			.info {
			  font-size: 1.7rem;
			  text-align: center; 
			}
		  }
		}
	  }
	}
  }
  